@model List<BrightLine.Common.ViewModels.Entity.MediaPartnerViewModel>
@{
	ViewBag.Title = "Media Partners";
    Layout = "~/Views/Shared/_Layout-bs3.cshtml";


	var title = "Media Partner";
	
	var maxId = Model.Any() ? Model.Max(m => m.Id) : 0;
}


@section styles {
	<link href="~/assets/stylesheets/EntityList.css" rel="stylesheet">
}
@section scripts {
	<script type="text/javascript" src="~/assets/javascripts/entityList.js"></script>
}

<div id="campaign" class="cfww">
	<div id="campaign-content-container">
		<div class="campaign-generic-listing container-fluid collapsable-container whitebox">
			<div class="listing-nav-container container-fluid">
				<div class="row listing-nav nav">
					<div class="col-sm-3 listing-nav-title title">Media Partner Listing</div>
					<div class="col-sm-5 listing-nav-search-container">
						<div class="input-group input-group-simple component-searchbox is-empty">
							<div class="input-group-addon glyphicon glyphicon-search" onclick="$(this).next().select();">
								<img src="/content/img/icons/clear-circle.png" class="clear-search">
							</div>
							<input type="text" id="listing-filter" class="form-control" placeholder="Search Media Partners..." data-target="listing">
							<span class="input-group-btn">
								<button class="btn btn-default creatives-filter-clear" type="button" onclick="utility.textbox.clear('#listing-filter'); $(this).parent().prev().select();">X</button>
							</span>
						</div>
					</div>
					<div class="col-sm-4 listing-nav-actions-container">
						<a href="../mediapartners/create" title="Add a new @title" role="button" class="btn btn-success">New @title</a>
					</div>
				</div>
			</div>
			<div class="listing-items-container">
				<div class='widget widget-table'>
					<div class='widget-content' style='display: none;' id='listing-widget'>
						<table id='listing' class='table table-striped'>
							<colgroup>
								<col style="width: 100px" />
							</colgroup>
							<thead>
								<tr>
									
									<th style="width: 40%;">Name</th>
									<th>Category</th>
									<th>Network</th>
									<th >&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var m in Model)
								{
									<tr data-id="@m.Id" title="@m.Display (@m.Id)">
									
									
										<td style="width: 40%;">
											@m.Name
										</td>
										<td>
											@m.CategoryDisplay
										</td>
										<td>
											@{
												var text = m.IsNetwork.ToString().ToLower() == "true" ? "Yes" : "No";
												<text>@text</text>
											}	

										</td>

										<td class="glyphicon-action" style="white-space: nowrap">
											<div class="glyphicon glyphicon-edit" data-href="../mediapartners/edit/@m.Id" title="Edit @m.Display"></div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>